[submodule "file-browser"]
	path = file-browser
	url = https://github.com/bins-dev/file-browser.git
[submodule "asdf"]
	path = asdf
	url = https://github.com/bins-dev/asdf.git
[submodule "nacos"]
	path = nacos
	url = https://github.com/bins-dev/nacos.git
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/bins-dev/ffmpeg.git
