[submodule "file-browser"]
	path = file-browser
	url = https://github.com/bins-dev/file-browser.git
[submodule "asdf"]
	path = asdf
	url = https://github.com/bins-dev/asdf.git
[submodule "nacos"]
	path = nacos
	url = https://github.com/bins-dev/nacos.git
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/bins-dev/ffmpeg.git
[submodule "portainer-agent"]
	path = portainer-agent
	url = https://github.com/bins-dev/portainer-agent.git
[submodule "FreeRTOS"]
	path = FreeRTOS
	url = https://github.com/bins-dev/FreeRTOS.git
[submodule "rt-thread"]
	path = rt-thread
	url = https://github.com/bins-dev/rt-thread.git
[submodule "portainer"]
	path = portainer
	url = https://github.com/bins-dev/portainer.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/bins-dev/nginx.git
[submodule "tomcat"]
	path = tomcat
	url = https://github.com/bins-dev/tomcat.git
[submodule "ant-design-vue"]
	path = ant-design-vue
	url = https://github.com/bins-dev/ant-design-vue.git
[submodule "srs"]
	path = srs
	url = https://github.com/bins-dev/srs.git
[submodule "vue3"]
	path = vue3
	url = https://github.com/bins-dev/vue3.git
[submodule "xtext"]
	path = xtext
	url = https://github.com/bins-dev/xtext.git
